# Whenever this version string changes, the application is configured
# and rebuilt from scratch

# Gabriele Bozzola (gabrielebozzola@email.arizona.edu) tested this
# configuration. He also tested compiling with the Intel stack, which yields a
# marginally slower executable (~ 4%), at the price of a significantly longer
# build time (and more complex configuration). No tests with aocc were
# performed.

VERSION = expanse-2021-08-11

CPP  = cpp
FPP  = cpp
CC   = gcc
CXX  = g++
F77  = gfortran
F90  = gfortran

CPPFLAGS  =
FPPFLAGS  = -traditional -march=znver2
CFLAGS    = -m128bit-long-double -std=gnu11 -march=znver2 -fomit-frame-pointer
CXXFLAGS  = -m128bit-long-double -std=gnu++14 -march=znver2 -fomit-frame-pointer
F90FLAGS  = -m128bit-long-double -fcray-pointer -ffixed-line-length-none -fno-range-check -march=znver2 -fomit-frame-pointer
F77FLAGS  = -m128bit-long-double -fcray-pointer -ffixed-line-length-none -fno-range-check -march=znver2 -fomit-frame-pointer

# We need to include numa explicitly for hwloc
#LDFLAGS =  -L/cm/shared/apps/spack/cpu/opt/spack/linux-centos8-zen2/gcc-9.2.0/numactl-2.0.12-2pky3yxibr2447l3obmq5ph6ftaoq65k/lib/
LDFLAGS =  -L/cm/shared/apps/spack/cpu/opt/spack/linux-centos8-zen2/gcc-9.2.0/numactl-2.0.12-2pky3yxibr2447l3obmq5ph6ftaoq65k/lib/ -I/home/pespino/Elliptica_ID_Reader/include -L/home/pespino/Elliptica_ID_Reader/lib -lelliptica_id_reader -Wl,-rpath,/home/pespino/Elliptica_ID_Reader/lib -lm

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

VECTORISE                = yes
VECTORISE_ALIGNED_ARRAYS = no
VECTORISE_INLINE         = yes

DEBUG            = no
CPP_DEBUG_FLAGS  = -g -DCARPET_DEBUG
FPP_DEBUG_FLAGS  = -g -DCARPET_DEBUG
C_DEBUG_FLAGS    = -g -ftrapv -fstack-protector-all -fbounds-check
CXX_DEBUG_FLAGS  = -g -ftrapv -fstack-protector-all -fbounds-check
CUCC_DEBUG_FLAGS =
F77_DEBUG_FLAGS  = -g -ftrapv -fstack-protector-all -fcheck=bounds,do,mem,pointer,recursion -finit-character=65 -finit-integer=42424242 -finit-real=nan
F90_DEBUG_FLAGS  = -g -ftrapv -fstack-protector-all -fcheck=bounds,do,mem,pointer,recursion -finit-character=65 -finit-integer=42424242 -finit-real=nan

OPTIMISE            = yes
CPP_OPTIMISE_FLAGS  = # -DCARPET_OPTIMISE -DNDEBUG
FPP_OPTIMISE_FLAGS  = # -DCARPET_OPTIMISE -DNDEBUG
C_OPTIMISE_FLAGS    = -O2 -mavx2 -mfma
CUCC_OPTIMISE_FLAGS =
CXX_OPTIMISE_FLAGS  = -O2 -mavx2 -mfma
F90_OPTIMISE_FLAGS  = -O2 -mavx2 -mfma
F77_OPTIMISE_FLAGS  = -O2 -mavx2 -mfma

PROFILE           = no
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS   = -pg
CXX_PROFILE_FLAGS = -pg
F77_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg

OPENMP           = yes
CPP_OPENMP_FLAGS = -fopenmp
FPP_OPENMP_FLAGS = -fopenmp
C_OPENMP_FLAGS   = -fopenmp
CXX_OPENMP_FLAGS = -fopenmp
F77_OPENMP_FLAGS = -fopenmp
F90_OPENMP_FLAGS = -fopenmp

WARN            = no
CPP_WARN_FLAGS  = -Wall
FPP_WARN_FLAGS  = -Wall
C_WARN_FLAGS    = -Wall
CXX_WARN_FLAGS  = -Wall
CUCC_WARN_FLAGS = -Xcompiler -Wall
F90_WARN_FLAGS  = -Wall
F77_WARN_FLAGS  = -Wall

LIBSZ_DIR = /cm/shared/apps/spack/cpu/opt/spack/linux-centos8-zen2/gcc-9.2.0/libszip-2.1.1-g73rehnp26umitlsxjbucah63xcbkyrg/lib
HWLOC_DIR = /cm/shared/apps/spack/cpu/opt/spack/linux-centos8-zen2/gcc-9.2.0/hwloc-1.11.11-x7dk65u6auponeh3slnell2cbwakqqwi/
LIBJPEG_DIR = /cm/shared/apps/spack/cpu/opt/spack/linux-centos8-zen2/gcc-9.2.0/libjpeg-turbo-2.0.4-7kvjnifz7gpi2dhio6stpbtznc4g4ssk/
ZLIB_DIR = /cm/shared/apps/spack/cpu/opt/spack/linux-centos8-zen2/gcc-9.2.0/zlib-1.2.11-tzrethumzcwcxalxislka5penngsyeup
OPENBLAS_DIR  = /cm/shared/apps/spack/cpu/opt/spack/linux-centos8-zen2/gcc-9.2.0/openblas-0.3.10-grrcfayp3br6kmcnelbgrepqmadwv43e
HDF5_DIR = /cm/shared/apps/spack/cpu/opt/spack/linux-centos8-zen2/gcc-9.2.0/hdf5-1.10.6-5q5q4alfsa4or6b25nofmfpixc2vvmg2/
#FFTW_DIR=/cm/shared/apps/spack/cpu/opt/spack/linux-centos8-zen2/gcc-9.2.0/fftw-3.3.8-fjjeijpxg5kgfuv33o3c5wwc33pifw3d/

#LORENE_DIR=/home/pespino/Lorene
#LORENE_EXTRA_LIBS=fftw3
SUITESPARSE_DIR=/home/pespino/SuiteSparse-5.7.2
ELLIPTICA_DIR=/home/pespino/Elliptica
EIDR_DIR=/home/pespino/Elliptica_ID_Reader
EIDR_LIBS=elliptica_id_reader
